In [345]:
tech.head(10)

                  month  year  day    open   close    high     low    volume  \
date       name
2014-01-02 FB         1  2014    2   54.86   54.71   55.22   54.19  43257622
           AAPL       1  2014    2   79.38   79.02   79.58   78.86   8398851
           GOOGL      1  2014    2  557.73  556.56  558.88  554.13   1822719
           MSFT       1  2014    2   37.35   37.16   37.40   37.10  30643745
           AMZN       1  2014    2  398.80  397.97  399.36  394.02   2140246
2014-01-03 FB         1  2014    3   55.00   54.56   55.65   54.53  38287706
           GOOGL      1  2014    3  557.50  552.50  558.47  552.47   1669229
           MSFT       1  2014    3   37.20   36.91   37.22   36.60  31134795
           AAPL       1  2014    3   79.00   77.28   79.10   77.20  14043410
           AMZN       1  2014    3  398.29  396.44  402.71  396.22   2213512

                 volume_type
date       name
2014-01-02 FB         medium
           AAPL          low
           GOOGL      medium
           MSFT       medium
           AMZN       medium
2014-01-03 FB         medium
           GOOGL      medium
           MSFT       medium
           AAPL          low
           AMZN       medium

In [348]:
tech.xs('FB')

KeyError: 'FB'

In [351]:
tech.loc[(slice('2014-01-02'),'FB'),:]

,,month,year,day,open,close,high,low,volume,volume_type
date,name,,,,,,,,,
2014-01-02,FB,1,2014,2,54.86,54.71,55.22,54.19,43257622,medium

In [361]:
tech.xs(['2019-01-02','FB'], level=(0,1))

C:\Users\97798\AppData\Local\Temp\ipykernel_4080\2842255261.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  tech.xs(['2019-01-02','FB'], level=(0,1))

,,month,year,day,open,close,high,low,volume,volume_type
date,name,,,,,,,,,
2019-01-02,FB,1,2019,2,128.99,135.68,137.51,128.56,28146193,medium

In [363]:
tech.loc[(slice('2019-01-02'),['FB']),:]

,,month,year,day,open,close,high,low,volume,volume_type
date,name,,,,,,,,,
2014-01-02,FB,1,2014,2,54.86,54.71,55.22,54.19,43257622,medium
2014-01-03,FB,1,2014,3,55.00,54.56,55.65,54.53,38287706,medium
2014-01-06,FB,1,2014,6,54.39,57.20,57.26,54.05,68974359,high
2014-01-07,FB,1,2014,7,57.67,57.92,58.55,57.22,77329009,high
2014-01-08,FB,1,2014,8,57.59,58.23,58.41,57.23,56800776,high
...,...,...,...,...,...,...,...,...,...,...
2018-12-26,FB,12,2018,26,126.00,134.18,134.24,125.89,39723370,medium
2018-12-27,FB,12,2018,27,132.44,134.52,134.99,129.67,31202509,medium
2018-12-28,FB,12,2018,28,135.34,133.20,135.92,132.20,22627569,medium
2018-12-31,FB,12,2018,31,134.45,131.09,134.64,129.95,24625308,medium
2019-01-02,FB,1,2019,2,128.99,135.68,137.51,128.56,28146193,medium