In [451]:
tech.head(10)

                              month  year  day    open   close    high  \
date       volume_type name
2014-01-02 medium      FB         1  2014    2   54.86   54.71   55.22
           low         AAPL       1  2014    2   79.38   79.02   79.58
           medium      GOOGL      1  2014    2  557.73  556.56  558.88
                       MSFT       1  2014    2   37.35   37.16   37.40
                       AMZN       1  2014    2  398.80  397.97  399.36
2014-01-03 medium      FB         1  2014    3   55.00   54.56   55.65
                       GOOGL      1  2014    3  557.50  552.50  558.47
                       MSFT       1  2014    3   37.20   36.91   37.22
           low         AAPL       1  2014    3   79.00   77.28   79.10
           medium      AMZN       1  2014    3  398.29  396.44  402.71

                                 low    volume
date       volume_type name
2014-01-02 medium      FB      54.19  43257622
           low         AAPL    78.86   8398851
           medium      GOOGL  554.13   1822719
                       MSFT    37.10  30643745
                       AMZN   394.02   2140246
2014-01-03 medium      FB      54.53  38287706
                       GOOGL  552.47   1669229
                       MSFT    36.60  31134795
           low         AAPL    77.20  14043410
           medium      AMZN   396.22   2213512

In [453]:
tidx = tech.index

In [454]:
type(tidx)

pandas.core.indexes.multi.MultiIndex

In [458]:
tidx.is_monotonic_increasing

False

In [459]:
tidx.sortlevel(0, ascending = False, sort_remaining=True)

(MultiIndex([('2019-08-23', 'medium',  'MSFT'),
             ('2019-08-23', 'medium', 'GOOGL'),
             ('2019-08-23', 'medium',    'FB'),
             ('2019-08-23', 'medium',  'AMZN'),
             ('2019-08-23', 'medium',  'AAPL'),
             ('2019-08-22', 'medium',  'MSFT'),
             ('2019-08-22', 'medium',  'AMZN'),
             ('2019-08-22', 'medium',  'AAPL'),
             ('2019-08-22',    'low', 'GOOGL'),
             ('2019-08-22',    'low',    'FB'),
             ...
             ('2014-01-03', 'medium',  'MSFT'),
             ('2014-01-03', 'medium', 'GOOGL'),
             ('2014-01-03', 'medium',    'FB'),
             ('2014-01-03', 'medium',  'AMZN'),
             ('2014-01-03',    'low',  'AAPL'),
             ('2014-01-02', 'medium',  'MSFT'),
             ('2014-01-02', 'medium', 'GOOGL'),
             ('2014-01-02', 'medium',    'FB'),
             ('2014-01-02', 'medium',  'AMZN'),
             ('2014-01-02',    'low',  'AAPL')],
            names=['date', 'volume_type', 'name'], length=7105),
 array([7100, 7102, 7104, ...,    0,    4,    1], dtype=int64))

In [460]:
tidx.sortlevel(level=(0,1,2), ascending=[True, False, False])

(MultiIndex([('2014-01-02', 'medium',  'MSFT'),
             ('2014-01-02', 'medium', 'GOOGL'),
             ('2014-01-02', 'medium',    'FB'),
             ('2014-01-02', 'medium',  'AMZN'),
             ('2014-01-02',    'low',  'AAPL'),
             ('2014-01-03', 'medium',  'MSFT'),
             ('2014-01-03', 'medium', 'GOOGL'),
             ('2014-01-03', 'medium',    'FB'),
             ('2014-01-03', 'medium',  'AMZN'),
             ('2014-01-03',    'low',  'AAPL'),
             ...
             ('2019-08-22', 'medium',  'MSFT'),
             ('2019-08-22', 'medium',  'AMZN'),
             ('2019-08-22', 'medium',  'AAPL'),
             ('2019-08-22',    'low', 'GOOGL'),
             ('2019-08-22',    'low',    'FB'),
             ('2019-08-23', 'medium',  'MSFT'),
             ('2019-08-23', 'medium', 'GOOGL'),
             ('2019-08-23', 'medium',    'FB'),
             ('2019-08-23', 'medium',  'AMZN'),
             ('2019-08-23', 'medium',  'AAPL')],
            names=['date', 'volume_type', 'name'], length=7105),
 array([   3,    2,    0, ..., 7104, 7103, 7101], dtype=int64))

In [470]:
tech.head()

                                     month  year  day    open   close    high  \
Trading date Volume Category Ticker
2014-01-02   medium          FB          1  2014    2   54.86   54.71   55.22
             low             AAPL        1  2014    2   79.38   79.02   79.58
             medium          GOOGL       1  2014    2  557.73  556.56  558.88
                             MSFT        1  2014    2   37.35   37.16   37.40
                             AMZN        1  2014    2  398.80  397.97  399.36

                                        low    volume
Trading date Volume Category Ticker
2014-01-02   medium          FB       54.19  43257622
             low             AAPL     78.86   8398851
             medium          GOOGL   554.13   1822719
                             MSFT     37.10  30643745
                             AMZN    394.02   2140246

In [473]:
stacked = tech.stack()

In [475]:
stacked.head(10)

Trading date  Volume Category  Ticker
2014-01-02    medium           FB      month            1.00
                                       year          2014.00
                                       day              2.00
                                       open            54.86
                                       close           54.71
                                       high            55.22
                                       low             54.19
                                       volume    43257622.00
              low              AAPL    month            1.00
                                       year          2014.00
dtype: float64

In [476]:
type(stacked)

pandas.core.series.Series

In [477]:
stacked.index.nlevels

4

In [478]:
stacked.index.names

FrozenList(['Trading date', 'Volume Category', 'Ticker', None])

In [481]:
stacked.unstack()

                                     month    year   day     open    close  \
Trading date Volume Category Ticker
2014-01-02   low             AAPL      1.0  2014.0   2.0    79.38    79.02
             medium          AMZN      1.0  2014.0   2.0   398.80   397.97
                             FB        1.0  2014.0   2.0    54.86    54.71
                             GOOGL     1.0  2014.0   2.0   557.73   556.56
                             MSFT      1.0  2014.0   2.0    37.35    37.16
...                                    ...     ...   ...      ...      ...
2019-08-23   medium          AAPL      8.0  2019.0  23.0   209.43   202.64
                             AMZN      8.0  2019.0  23.0  1793.03  1749.62
                             FB        8.0  2019.0  23.0   180.84   177.75
                             GOOGL     8.0  2019.0  23.0  1185.17  1153.58
                             MSFT      8.0  2019.0  23.0   137.19   133.39

                                        high      low      volume
Trading date Volume Category Ticker
2014-01-02   low             AAPL      79.58    78.86   8398851.0
             medium          AMZN     399.36   394.02   2140246.0
                             FB        55.22    54.19  43257622.0
                             GOOGL    558.88   554.13   1822719.0
                             MSFT      37.40    37.10  30643745.0
...                                      ...      ...         ...
2019-08-23   medium          AAPL     212.05   201.00  46882843.0
                             AMZN    1804.90  1745.23   5277898.0
                             FB       183.13   176.66  17331221.0
                             GOOGL   1195.67  1150.00   1813141.0
                             MSFT     138.35   132.80  38515386.0

[7105 rows x 8 columns]

In [485]:
stacked.unstack().unstack(fill_value='-')

                             month                         year          \
Ticker                        AAPL AMZN   FB GOOGL MSFT    AAPL    AMZN
Trading date Volume Category
2014-01-02   low               1.0    -    -     -    -  2014.0       -
             medium              -  1.0  1.0   1.0  1.0       -  2014.0
2014-01-03   low               1.0    -    -     -    -  2014.0       -
             medium              -  1.0  1.0   1.0  1.0       -  2014.0
2014-01-06   high                -    -  1.0     -    -       -       -
...                            ...  ...  ...   ...  ...     ...     ...
2019-08-21   low                 -  8.0  8.0   8.0  8.0       -  2019.0
             medium            8.0    -    -     -    -  2019.0       -
2019-08-22   low                 -    -  8.0   8.0    -       -       -
             medium            8.0  8.0    -     -  8.0  2019.0  2019.0
2019-08-23   medium            8.0  8.0  8.0   8.0  8.0  2019.0  2019.0

                                                      ...     low           \
Ticker                            FB   GOOGL    MSFT  ...    AAPL     AMZN
Trading date Volume Category                          ...
2014-01-02   low                   -       -       -  ...   78.86        -
             medium           2014.0  2014.0  2014.0  ...       -   394.02
2014-01-03   low                   -       -       -  ...    77.2        -
             medium           2014.0  2014.0  2014.0  ...       -   396.22
2014-01-06   high             2014.0       -       -  ...       -        -
...                              ...     ...     ...  ...     ...      ...
2019-08-21   low              2019.0  2019.0  2019.0  ...       -   1815.0
             medium                -       -       -  ...   211.6        -
2019-08-22   low              2019.0  2019.0       -  ...       -        -
             medium                -       -  2019.0  ...  210.75   1800.1
2019-08-23   medium           2019.0  2019.0  2019.0  ...   201.0  1745.23

                                                           volume             \
Ticker                            FB    GOOGL    MSFT        AAPL       AMZN
Trading date Volume Category
2014-01-02   low                   -        -       -   8398851.0          -
             medium            54.19   554.13    37.1           -  2140246.0
2014-01-03   low                   -        -       -  14043410.0          -
             medium            54.53   552.47    36.6           -  2213512.0
2014-01-06   high              54.05        -       -           -          -
...                              ...      ...     ...         ...        ...
2019-08-21   low              183.14  1187.92   138.0           -  2039231.0
             medium                -        -       -  21564747.0          -
2019-08-22   low              179.91  1178.91       -           -          -
             medium                -        -  136.29  22267819.0  2658388.0
2019-08-23   medium           176.66   1150.0   132.8  46882843.0  5277898.0


Ticker                                FB      GOOGL        MSFT
Trading date Volume Category
2014-01-02   low                       -          -           -
             medium           43257622.0  1822719.0  30643745.0
2014-01-03   low                       -          -           -
             medium           38287706.0  1669229.0  31134795.0
2014-01-06   high             68974359.0          -           -
...                                  ...        ...         ...
2019-08-21   low               8409548.0   708272.0  14982314.0
             medium                    -          -           -
2019-08-22   low              10829509.0   867915.0           -
             medium                    -          -  18559088.0
2019-08-23   medium           17331221.0  1813141.0  38515386.0

[2090 rows x 40 columns]

In [489]:
stacked = stacked.unstack(level = 'Ticker')

In [490]:
stacked.index.names

FrozenList(['Trading date', 'Volume Category', None])