In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
players = pd.read_csv(r"C:\Users\97798\Desktop\Pandas\dataframes in depth\soccer.csv")

In [4]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [5]:
# identifying dupes

In [8]:
players[players.duplicated()]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [9]:
# suset parameter

In [10]:
# unique - club , age, position and market value

In [11]:
players[players.duplicated(subset=['club','age','position','market_value'])]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
59,Shane Duffy,Brighton+and+Hove,25,CB,3,5.0,243,4.5,0.60%,0,2,Ireland,0,3,3,0,0
260,Fernando,Manchester+City,32,DM,2,18.0,338,4.5,0.40%,18,3,Brazil,0,5,11,1,0
279,Chris Smalling,Manchester+United,27,CB,3,18.0,834,5.5,1.30%,52,1,England,0,3,12,1,0
293,Lascelles,Newcastle+United,27,CB,3,5.0,400,4.5,3.60%,0,1,England,0,3,13,0,0

In [13]:
players[players.duplicated(subset=['club','age','position','market_value'])].shape

(7, 17)

In [15]:
players[players.duplicated(subset=['club','age','position','market_value'],keep='first')]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
59,Shane Duffy,Brighton+and+Hove,25,CB,3,5.0,243,4.5,0.60%,0,2,Ireland,0,3,3,0,0
260,Fernando,Manchester+City,32,DM,2,18.0,338,4.5,0.40%,18,3,Brazil,0,5,11,1,0
279,Chris Smalling,Manchester+United,27,CB,3,18.0,834,5.5,1.30%,52,1,England,0,3,12,1,0
293,Lascelles,Newcastle+United,27,CB,3,5.0,400,4.5,3.60%,0,1,England,0,3,13,0,0

In [16]:
players[players.duplicated(subset=['club','age','position','market_value'],keep='first')].shape

(7, 17)

In [17]:
players[players.duplicated(subset=['club','age','position','market_value'],keep=False)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
58,Lewis Dunk,Brighton+and+Hove,25,CB,3,5.0,140,4.5,4.10%,0,1,England,0,3,3,0,0
59,Shane Duffy,Brighton+and+Hove,25,CB,3,5.0,243,4.5,0.60%,0,2,Ireland,0,3,3,0,0
253,Fernandinho,Manchester+City,32,DM,2,18.0,595,5.0,0.80%,78,3,Brazil,0,5,11,1,0
260,Fernando,Manchester+City,32,DM,2,18.0,338,4.5,0.40%,18,3,Brazil,0,5,11,1,0
273,Marcos Rojo,Manchester+United,27,CB,3,18.0,1063,5.5,0.10%,77,3,Argentina,0,3,12,1,0
279,Chris Smalling,Manchester+United,27,CB,3,18.0,834,5.5,1.30%,52,1,England,0,3,12,1,0
292,Ciaran Clark,Newcastle+United,27,CB,3,5.0,273,4.5,0.90%,0,2,Ireland,0,3,13,0,0
293,Lascelles,Newcastle+United,27,CB,3,5.0,400,4.5,3.60%,0,1,England,0,3,13,0,0

In [18]:
players[players.duplicated(subset=['club','age','position','market_value'],keep=False)].shape

(13, 17)