In [1]:
import numpy as np
import pandas as pd

In [2]:
sales_url = 'https://andybek.com/pandas-games'

In [43]:
games = pd.read_csv(sales_url)

In [44]:
games.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
5,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
6,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
7,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
8,Call of Duty: Modern Warfare 2,X360,2009.0,Shooter,Activision,8.52,3.63,0.08,1.29,13.51
9,Call of Duty: Modern Warfare 3,PS3,2011.0,Shooter,Activision,5.54,5.82,0.49,1.62,13.46

In [45]:
games.sum()

C:\Users\97798\AppData\Local\Temp\ipykernel_8928\1599516262.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  games.sum()

Name            Kinect Adventures!Grand Theft Auto VGrand Thef...
Platform        X360PS3X360X360X360PS4PS3X360X360PS3PS3X360PS4...
Year                                                    6210506.0
Genre           MiscActionActionShooterShooterShooterShooterSh...
NA_Sales                                                   1173.3
EU_Sales                                                   793.64
JP_Sales                                                   107.06
Other_Sales                                                282.75
Global_Sales                                              2356.96
dtype: object

In [46]:
# 1. seperate the data

In [48]:
games[games.Platform == 'X360']

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
7,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
...,...,...,...,...,...,...,...,...,...,...
3127,MotoGP 15,X360,2015.0,Racing,Milestone S.r.l.,0.00,0.01,0.00,0.00,0.01
3128,DoDonPachi Daifukkatsu: Black Label,X360,2011.0,Shooter,Cave,0.00,0.00,0.01,0.00,0.01
3130,Dragon Ball Z for Kinect,X360,2012.0,Fighting,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
3135,Metal Gear Solid HD Edition,X360,2011.0,Action,Konami Digital Entertainment,0.00,0.00,0.01,0.00,0.01
3138,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [49]:
games[games.Platform == 'PS3']

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
6,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
9,Call of Duty: Modern Warfare 3,PS3,2011.0,Shooter,Activision,5.54,5.82,0.49,1.62,13.46
10,Call of Duty: Black Ops,PS3,2010.0,Shooter,Activision,5.98,4.44,0.48,1.83,12.73
14,Gran Turismo 5,PS3,2010.0,Racing,Sony Computer Entertainment,2.96,4.88,0.81,2.12,10.77
...,...,...,...,...,...,...,...,...,...,...
3124,Hyperdimension Neptunia mk2,PS3,2011.0,Action,Nippon Ichi Software,0.00,0.01,0.00,0.00,0.01
3125,Shin Koihime Musou: Otome Taisen * Sangokushi ...,PS3,2014.0,Adventure,Views,0.00,0.00,0.01,0.00,0.01
3129,Muv-Luv Alternative,PS3,2012.0,Simulation,5pb,0.00,0.00,0.01,0.00,0.01
3132,Akatsuki no Goei Trinity,PS3,2012.0,Adventure,5pb,0.00,0.00,0.01,0.00,0.01
3136,Battle Fantasia,PS3,2008.0,Fighting,505 Games,0.00,0.00,0.01,0.00,0.01

In [50]:
# 2.calculate sum

In [51]:
games[games.Platform == 'X360'].sum(numeric_only=True)

Year            2482205.00
NA_Sales            601.05
EU_Sales            280.58
JP_Sales             12.43
Other_Sales          85.54
Global_Sales        979.96
dtype: float64

In [52]:
games[games.Platform == 'PS3'].sum(numeric_only=True)

Year            2622109.00
NA_Sales            392.26
EU_Sales            343.71
JP_Sales             79.99
Other_Sales         141.93
Global_Sales        957.84
dtype: float64

In [53]:
games[games.Platform == 'X360'].sum(numeric_only=True) + games[games.Platform == 'PS3'].sum(numeric_only=True)

Year            5104314.00
NA_Sales            993.31
EU_Sales            624.29
JP_Sales             92.42
Other_Sales         227.47
Global_Sales       1937.80
dtype: float64

In [54]:
# find the total sales by region for x360 and ps3

In [59]:
games.groupby('Platform').sum().drop(labels='Year', axis =1)

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3         392.26    343.71     79.99       141.93        957.84
PS4          96.80    123.70     14.30        43.36        278.10
X360        601.05    280.58     12.43        85.54        979.96
XOne         83.19     45.65      0.34        11.92        141.06

In [58]:
games.groupby('Platform').mean().drop(labels='Year', axis =1)

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3       0.295154  0.258623  0.060188     0.106795      0.720722
PS4       0.288095  0.368155  0.042560     0.129048      0.827679
X360      0.475138  0.221802  0.009826     0.067621      0.774672
XOne      0.390563  0.214319  0.001596     0.055962      0.662254

In [60]:
games.groupby('Platform').median().drop(labels='Year', axis =1)

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3           0.12      0.07      0.01         0.03          0.28
PS4           0.07      0.08      0.02         0.03          0.22
X360          0.17      0.06      0.00         0.02          0.28
XOne          0.15      0.07      0.00         0.02          0.24

In [61]:
# Groupby object

In [67]:
games.groupby('Platform').sum()

               Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3       2622109.0    392.26    343.71     79.99       141.93        957.84
PS4        677042.0     96.80    123.70     14.30        43.36        278.10
X360      2482205.0    601.05    280.58     12.43        85.54        979.96
XOne       429150.0     83.19     45.65      0.34        11.92        141.06

In [66]:
len(games.groupby('Platform'))

4